<div class="row projects">
	<div class="large-12 columns">
	  <h2 class="projects_header"><%= @assignment.task.title %></h2>

    <p>Organization | <%= link_to @assignment.task.organization_name, @assignment.task.organization_url %></p>
    <p>Deadline | <%= @assignment.task.formatted_deadline %></p>
    
    <div class="large-7 columns">
      <div class="task_detail_container">  
        <p class="task_detail_header">Details:</p>
        <p><%= @assignment.task.details %></p>
      </div>
      <p>Assignment: <%= @assignment.applicant.name %> (<%= link_to @assignment.applicant.email, "mailto:#{@assignment.applicant.email}" %>)</p>
      
      <%= form_for(@assignment) do |f| %>
        <p>Rating: <%= f.text_field :rating, class: 'small-1 inline' %></p>
        <p>Review: <%= f.text_area :review %></p>
        
        <p>Completed? <%= f.check_box :completed, checked: @assignment.task.completed %></p>
        
        <%= f.submit nil, class: 'button' %>
      
      <% end %>
    </div>
        
	</div>
</div>


<script>

  (function(){
    
    $('form').on('keyup', 'textarea', function(){
       var ele = this;
       ele.style.height = 'auto';
       var height = $(this).css('height').replace('px', '');
       var newHeight = (ele.scrollHeight > height ? ele.scrollHeight : height);
       ele.style.height = newHeight.toString() + 'px';
    });    
    
  })()



</script>
