<div class="row projects">
	<div class="large-12 columns">
	  <h2 class="projects_header">Find a project</h2>
    <table class="projects large-12">
      <thead>
        <tr>
          <th>Task</th>
          <th>Details</th>
          <th>Organization</th>
          <th>Deadline</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.details %></td>
        <td><%= task.organization_name %></td>
        <td><%= task.formatted_deadline %></td>
        <td><%= link_to 'Details', task, class: 'button' %></td>
      </tr>
    <% end %>
      </tbody>
    </table>
    
	</div>
</div>
