<div class="row projects">
	<div class="large-12 columns">
	  <h2 class="projects_header"><%= @task.title %></h2>

    <p>Organization | <%= link_to @task.organization_name, @task.organization_url %></p>
    <p>Deadline | <%= @task.deadline %></p>
    
    <div class="large-7 columns">
      <div class="task_detail_container">  
        <p class="task_detail_header">Details:</p>
        <p><%= @task.details %></p>
      </div>
      <p><%= link_to 'Apply now!', '#', class: 'button right', id: 'apply' %></p>
      <p><%= link_to 'Back to list', tasks_url, class: 'button secondary' %></p>
      
      <div class="applicant_container hide columns">
        <h2 class="projects_header">Glad you're interested.</h2>
        <p class="green">Please enter some information about yourself.</p>
        <%= render 'applicants/form' %>
      </div>
      
    </div>
        
	</div>
</div>


<script>

  (function(){
    
    $('a#apply').on('click', function(e){
      
      $('div.applicant_container').slideDown();
      $('input#applicant_name').focus();
      e.preventDefault();
    })
    
    
  })()



</script>
