<%= form_for(@applicant, html: { class: 'custom' }) do |f| %>
  
  <fieldset>
    
    <div class="row">
      <div class="columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="applicant_name" class="right inline">Name</label>
          </div>
          <div class="small-9 columns">
            <%= f.text_field :name, placeholder: 'Amy Ryan' %>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <label for="applicant_email" class="right inline">Email</label>
          </div>
          <div class="small-9 columns">
            <%= f.text_field :email, placeholder: 'amy.ryan@gmail.com' %>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <label for="applicant_current_role" class="right inline">Current Role</label>
          </div>
          <div class="small-9 columns">
            <%= f.text_field :current_role, placeholder: 'Student at Stanford University' %>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <label for="task_job_seeker" class="label_checkbox">
              Job seeker?
              <span class="check_box"><%= f.check_box :job_seeker %></span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <label for="applicant_content" class="right inline">Why are you a good fit?</label>
          </div>
          <div class="small-9 columns">
            <%= f.text_area :content, placeholder: "Tell us a bit about yourself" %>
          </div>
        </div>
        <%= f.hidden_field :task_id, value: @task.id %>
        <div class="row">
          <div class="small-3 columns"></div>
          <div class="small-9 columns">
            <span class="submit_waiting hide">Applying. Please wait. <%= image_tag 'loading.gif' %></span>
            <br/><br/>
          </div>
          <%= f.submit 'Submit application', class: 'button large expand', id: 'task_submit' %>
        </div>
      </div>
    </div> 
  </fieldset>
<% end %>

<script>

  (function(){

    $('form').on('keyup', 'textarea', function(){
       var ele = this;
       ele.style.height = 'auto';
       var height = $(this).css('height').replace('px', '');
       var newHeight = (ele.scrollHeight > height ? ele.scrollHeight : height);
       ele.style.height = newHeight.toString() + 'px';
    });
    
    $('form').on('submit', function(){
      
      $('span.submit_waiting').slideDown();
      
    });
    
  })();

</script>