<h1>Listing applicants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Current role</th>
    <th>Job seeker</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @applicants.each do |applicant| %>
  <tr>
    <td><%= applicant.name %></td>
    <td><%= applicant.email %></td>
    <td><%= applicant.current_role %></td>
    <td><%= applicant.job_seeker %></td>
    <td><%= applicant.content %></td>
    <td><%= link_to 'Show', applicant %></td>
    <td><%= link_to 'Edit', edit_applicant_path(applicant) %></td>
    <td><%= link_to 'Destroy', applicant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Applicant', new_applicant_path %>
