<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @applicant.name %>
</p>

<p>
  <b>Email:</b>
  <%= @applicant.email %>
</p>

<p>
  <b>Current role:</b>
  <%= @applicant.current_role %>
</p>

<p>
  <b>Job seeker:</b>
  <%= @applicant.job_seeker %>
</p>

<p>
  <b>Content:</b>
  <%= @applicant.content %>
</p>


<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
