<div class="row projects">
	<div class="large-12 columns">
	  <h2 class="projects_header">Our Story</h2>
    <p>We've spent the past 8 years founding and working with non-profits, impact investment funds and social enterprises around the world.  In the hundreds of Skype calls with friends and friends of friends seeking work in the social sector, we heard time and again the challenges people faced in finding meaningful work.  Simultaneously, our organizations were drowning in work and constantly looking for young talent.</p>
     <p>Unternship is an experiment to see if we can't channel more talent into the social sector, while transforming the way organizations approach non-core work and recruitment.</p>
     <h2 class="projects_header">Our Team</h2> 
     <p><%= link_to 'Emily Lutyens', 'http://www.linkedin.com/pub/emily-mochizuki-lutyens/3a/b3a/a63' %> is an MBA candidate at Berkeley’s Haas School of Business and has five years of experience working with social entrepreneurs and NGOs in Uganda, Mexico and South Africa.  <%= link_to 'Daniela Papi', 'http://www.linkedin.com/in/danielapapi' %> is the founder of PEPY Cambodia and PEPY Tours and recently completed her MBA at Oxford University as a Skoll Scholar.  <%= link_to 'Timothy Rann', 'http://www.linkedin.com/pub/tim-rann/8/1b1/646' %> has five years of experience leading social business start-ups and impact investing funds in Cambodia, Vietnam and Afghanistan.</p>
     <p>Our beta product was designed by <%= link_to 'LaunchPad Lab', 'http://launchpadlab.com/' %>, a web development shop in Chicago that helps startups make their ideas real by helping them craft high-quality web applications. We are working with co-founders, <%= link_to 'Brendan Hennessy', 'http://www.linkedin.com/in/brendanjhennessy' %> and <%= link_to 'Liz Sarb', 'http://lizsarb.com/' %>, who are both passionate about using good design for social good.</p>
	</div>
</div>