<!DOCTYPE html>
<html>
<head>
  <title><%= @title || 'Unternship' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  
  <% unless action_name == 'home' %>
    <%= render 'layouts/header' %>
  <% end %>
  
  <div class="container">
    
    <div class="row large-12 columns">
      <% if flash[:error] %>
        <%= content_tag :div, :id => "flash_name", :class => "alert-box error" do %>
          <%= flash[:error] %>
        <% end %>
      <% end %>

      <% if flash[:notice] %>
        <%= content_tag :div, :id => "flash_name", :class => "alert-box success" do %>
          <%= flash[:notice] %>
        <% end %>
      <% end %>
    </div>
    
    <%= yield %>
  </div>
  
  <%= render 'layouts/footer' %>

</body>
</html>
